<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Name Assignment</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .sensor-form {
            margin-bottom: 20px;
        }
        .sensor-list {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Assign Names to Sensors</h1>
    <p>Click the ip address of the sensor to see more options</p>
    <h2>Sensor List</h2>
        <ul class="sensor-list">
            {% for sensor in sensors %}
                <li>
                    <a href="{{ url_for('sensor',id=sensor[0]) }}">
                        {{ sensor[1] }} / {{ sensor[2] }}
                    </a>
                </li>
            {% endfor %}
        </ul>
</body>
</html>
